.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

body{
  min-width: 800px;
}

.top {
  height: 250px;
  width: 100%;
  min-width: 1250px;
  background-size: cover;
  background-image: url("/header.jpg")
}

img {
  margin-top: 0px;
  height: 100%;
  width: 20%;
}

ul {
    list-style-type: none;
    float: right;
    margin: 0;
    overflow: hidden;
    background-color: none;
}

li {
    margin-top: 0;
    display: inline-table;
   /* float: right;*/
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.clear{
    clear:both;
}

#logout
{
  display: none;
  float: right;
}

#login
{
  display: none;
  float: right;
}

#lglink {
}

#loggingout {
  margin-top: 15px;

}

#loggingin {
  margin-top: 15px;

}